# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows files
*.exe
*.bat
*.cmd

# Free Pascal files
*.o
*.ppu

# Lazarus files
*.lps
*.elf
*.img
*.list
*.compiled

# Project specific exclusions
!__buildrtl.bat

source/Makefile
source/Makefile.fpc
source/compiler/
source/fpmake.pp
source/fpmake_add1.inc
source/fpmake_proc1.inc
source/ide/
source/installer/
source/packages/Makefile
source/packages/Makefile.fpc
source/packages/Makefile.fpc.fpcmake
source/packages/a52/
source/packages/ami-extra/
source/packages/amunits/
source/packages/arosunits/
source/packages/aspell/
source/packages/bfd/
source/packages/bzip2/
source/packages/cairo/
source/packages/cdrom/
source/packages/chm/
source/packages/cocoaint/
source/packages/dblib/
source/packages/dbus/
source/packages/dts/
source/packages/fastcgi/
source/packages/fcl-async/
source/packages/fcl-base/
source/packages/fcl-db/
source/packages/fcl-extra/
source/packages/fcl-fpcunit/
source/packages/fcl-image/
source/packages/fcl-js/
source/packages/fcl-json/
source/packages/fcl-net/
source/packages/fcl-passrc/
source/packages/fcl-process/
source/packages/fcl-registry/
source/packages/fcl-res/
source/packages/fcl-sdo/
source/packages/fcl-sound/
source/packages/fcl-stl/
source/packages/fcl-web/
source/packages/fcl-xml/
source/packages/fftw/
source/packages/fpgtk/
source/packages/fpindexer/
source/packages/fpmake.pp
source/packages/fpmake_add.inc
source/packages/fpmake_proc.inc
source/packages/fpmkunit/
source/packages/fppkg/
source/packages/fuse/
source/packages/fv/
source/packages/gdbint/
source/packages/gdbm/
source/packages/ggi/
source/packages/gmp/
source/packages/gnome1/
source/packages/googleapi/
source/packages/graph/
source/packages/gtk1/
source/packages/gtk2/
source/packages/hash/
source/packages/hermes/
source/packages/httpd13/
source/packages/httpd20/
source/packages/httpd22/
source/packages/httpd24/
source/packages/ibase/
source/packages/iconvenc/
source/packages/imagemagick/
source/packages/imlib/
source/packages/iosxlocale/
source/packages/jni/
source/packages/ldap/
source/packages/libc/
source/packages/libcurl/
source/packages/libenet/
source/packages/libgbafpc/
source/packages/libgd/
source/packages/libmicrohttpd/
source/packages/libndsfpc/
source/packages/libogcfpc/
source/packages/libpng/
source/packages/librsvg/
source/packages/libsee/
source/packages/libtar/
source/packages/libvlc/
source/packages/libxml/
source/packages/lua/
source/packages/mad/
source/packages/matroska/
source/packages/modplug/
source/packages/morphunits/
source/packages/mysql/
source/packages/ncurses/
source/packages/newt/
source/packages/numlib/
source/packages/nvapi/
source/packages/objcrtl/
source/packages/odbc/
source/packages/oggvorbis/
source/packages/openal/
source/packages/opencl/
source/packages/opengl/
source/packages/opengles/
source/packages/openssl/
source/packages/oracle/
source/packages/os2units/
source/packages/palmunits/
source/packages/pasjpeg/
source/packages/pastojs/
source/packages/paszlib/
source/packages/pcap/
source/packages/postgres/
source/packages/proj4/
source/packages/ptc/
source/packages/pthreads/
source/packages/pxlib/
source/packages/regexpr/
source/packages/rexx/
source/packages/rtl-console/
source/packages/rtl-extra/
source/packages/rtl-objpas/
source/packages/rtl-unicode/
source/packages/sdl/
source/packages/sndfile/
source/packages/sqlite/
source/packages/svgalib/
source/packages/symbolic/
source/packages/syslog/
source/packages/tcl/
source/packages/univint/
source/packages/unixutil/
source/packages/unzip/
source/packages/users/
source/packages/utmp/
source/packages/uuid/
source/packages/winceunits/
source/packages/winunits-base/
source/packages/winunits-jedi/
source/packages/x11/
source/packages/xforms/
source/packages/zlib/
source/packages/zorba/
source/readme.rev
source/rtl/COPYING.FPC
source/rtl/COPYING.txt
source/rtl/Makefile
source/rtl/Makefile.fpc
source/rtl/README.txt
source/rtl/aarch64/
source/rtl/aix/
source/rtl/amicommon/
source/rtl/amiga/
source/rtl/android/
source/rtl/arm/
source/rtl/aros/
source/rtl/atari/
source/rtl/avr/
source/rtl/beos/
source/rtl/bsd/
source/rtl/charmaps/
source/rtl/darwin/
source/rtl/dragonfly/
source/rtl/embedded/
source/rtl/emx/
source/rtl/fpmake.inc
source/rtl/fpmake.pp
source/rtl/freebsd/
source/rtl/gba/
source/rtl/go32v2/
source/rtl/haiku/
source/rtl/i386/
source/rtl/i8086/
source/rtl/inc/
source/rtl/java/
source/rtl/jvm/
source/rtl/linux/
source/rtl/m68k/
source/rtl/macos/
source/rtl/mips/
source/rtl/mipsel/
source/rtl/morphos/
source/rtl/msdos/
source/rtl/nativent/
source/rtl/nds/
source/rtl/netbsd/
source/rtl/netware/
source/rtl/netwlibc/
source/rtl/objpas/
source/rtl/openbsd/
source/rtl/os2/
source/rtl/palmos/
source/rtl/powerpc/
source/rtl/powerpc64/
source/rtl/qnx/
source/rtl/solaris/
source/rtl/sparc/
source/rtl/symbian/
source/rtl/ucmaps/
source/rtl/unix/
source/rtl/watcom/
source/rtl/wii/
source/rtl/win/
source/rtl/win16/
source/rtl/win32/
source/rtl/win64/
source/rtl/wince/
source/rtl/x86_64/
source/tests/
source/utils/
